.ParentBox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
}

.Foto {
  float: left;
  width: 50%;
  height: 640px;
  background-color: #e3e9ee;
  padding: 10px;
}

.Foto img{
  width: 100%;
}

.Deskripsi{
  width: 40%;
  overflow: hidden;
  float: left;
  margin-left: 30px;
}

.Deskripsi .Info{
  line-height: 1.8;
  color: rgb(18, 11, 49);
}

.Deskripsi .Price{
  font-size: 20px;
  font-weight: 500;
}

.Deskripsi .Title{
  margin: 0;
}

.Deskripsi .Category{
  color: #acaeb2;
}

.Deskripsi a {
  margin-top: 20px;
  color: #ffffff;
  font-weight: 500;
  background: #10ac84;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  transition-delay: all 0.8s;
}

.Deskripsi a:hover{
  color:#ffffff;
  background-color: #1dd1a1;
  transition: all 0.8s;
}

.ReviewBox {
  clear: both;
  width: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

.ReviewBox h2{
  margin-top: 50px;
}

.ReviewBox img{
  width: auto;
  height: 80px;
  background: #b1b1b1;
  border-radius: 11px;
  float: left;
  margin-right: 10px;
}

.ReviewBox .User p, h3 {
  margin: 0;
}

.ReviewBox .User h3 {
  padding-top: 10px;
  margin-bottom: 8px;
}

.ReviewBox .Item{
  width: 80%;
  overflow: hidden;
  margin-bottom: 24px;
}
